<div class = "wrapper">
  <div>
    <img class="tumbnail" src="assets/images/grid/nature/1.jpg" alt="..." (click) = "imageSelected(1)">  
    <img class="tumbnail" src="assets/images/grid/nature/2.jpg" alt="..." (click) = "imageSelected(2)">  
    <img class="tumbnail" src="assets/images/grid/nature/3.jpg" alt="..." (click) = "imageSelected(3)">  
    <img class="tumbnail" src="assets/images/grid/nature/4.jpg" alt="..." (click) = "imageSelected(4)">      
    <img class="tumbnail" src="assets/images/grid/nature/5.jpg" alt="..." (click) = "imageSelected(5)">                  
  </div>
  <div>
      <img class="tumbnail" src="assets/images/grid/nature/6.jpg" alt="..." (click) = "imageSelected(6)">  
      <img class="tumbnail" src="assets/images/grid/nature/7.jpg" alt="..." (click) = "imageSelected(7)">  
      <img class="tumbnail" src="assets/images/grid/nature/8.jpg" alt="..." (click) = "imageSelected(8)">  
      <img class="tumbnail" src="assets/images/grid/nature/9.jpg" alt="..." (click) = "imageSelected(9)">     
      <img class="tumbnail" src="assets/images/grid/nature/10.jpg" alt="..." (click) = "imageSelected(10)">     
  </div>   
  <div>    
      <img class="tumbnail" src="assets/images/grid/nature/11.jpg" alt="..." (click) = "imageSelected(11)">   
      <img class="tumbnail" src="assets/images/grid/nature/12.jpg" alt="..." (click) = "imageSelected(12)">    
      <img class="tumbnail" src="assets/images/grid/nature/13.jpg" alt="..." (click) = "imageSelected(13)">                
  </div>      
</div>
  